 @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300&family=Quicksand:wght@300&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lexend', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
}

body{
  background-image: url('https://source.unsplash.com/420x900/?riodejaneiro');
  width: 100%;
  min-height: 100vh;  
}

.App{
margin: 2rem;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;


}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  
  border-radius: 20px;
  background-color: #f8f8f881;
  border: none;
  width: 100%;
  padding: .7rem 1.5em;
  
}
input::placeholder{
  color: rgba(0, 0, 0, 0.68);
  font-weight: bold;
}

.bottom{
  display: flex;
  flex-direction: column;
  background-color: #f8f8f800;
  color: #f8f8f8;
  text-shadow: 0.1em 0.1em 0.4em black;
  border: 1px solid red;
  
  
}
.description{
  display: flex;
  gap: 2rem;
  display: flex;
  
  
}
.weather-conditions{
 
  font-size: 2rem;
}
.humidity, .feelslike{
  font-size: 2rem;
}

.temperature{
  
  font-size: 8rem;
  font-weight: 100;
  
  
}